.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1), opacity 0.3s linear;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0);
  opacity: 0;
}

.fly-enter-active,
.fly-leave-active {
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1), opacity 0.3s linear;
}

.fly-enter-from,
.fly-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}

.fly-right-enter-active,
.fly-right-leave-active {
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1), opacity 0.3s linear;
}

.fly-right-enter-from,
.fly-right-leave-to {
  transform: translate(100%, -50%);
  opacity: 0;
}

.stagger-in {
  &-move {
    transition: opacity .5s linear;
  }
  
  &-leave-active {
    transition: opacity .4s linear;
    transition-delay: calc(0.5s + (0.1s * (var(--total) - var(--i))));
  }
  
  &-enter-active { 
    transition: opacity .5s linear;
    transition-delay: calc(0.5s + (0.1s * var(--i)));
  }

  &-enter, 
  &-leave-to {
    opacity: 0;
  }
}

